<!--<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.name}}
  </li>
  <li class="text" *ngFor="let contacto of contactos | async">
      {{contacto.libro}}
    </li>
</ul>-->
<!--BEGIN OF CCSANCHEZC 16/02/2019 -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<app-navbar></app-navbar>
<div class="container" id="container">
  <flash-messages></flash-messages>
  <router-outlet></router-outlet>
</div>

<!--END OF CCSANCHEZC 16/02/2019-->

