<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">AvaTime<span style="color:red;">BOOK</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link glyphicon glyphicon-book color" routerLink="/social" *ngIf="!herramientas">Social</a>
      </li>
      <li class="nav-item active" *ngIf="isLogin">
        <a class="nav-link glyphicon glyphicon-book color" routerLink="/perfil" *ngIf="!herramientas">Perfil</a>
      </li>
      <li class="nav-item dropdown" *ngIf="isLogin">
        <a class="nav-link dropdown-toggle color" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false" *ngIf="!herramientas">Buscar</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/filtropersona">Personas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/libros">Libros</a>
        </div>
      </li>
        <li class="nav-item dropdown" *ngIf="isLogin">
          <a class="nav-link dropdown-toggle color" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false" *ngIf="!herramientas">Configuraciones</a>
          <div class="dropdown-menu">
            <a class="dropdown-item con" (click)="MostarInformacion()">Recuperar contraseñas</a>
            <a class="dropdown-item" href="#">Privacidad</a>
            <div class="dropdown-divider"></div>
            <li class="nav-item" *ngIf="isLogin">
                <a class="dropdown-item"  (click)="onClickLogout()">Salir {{emailUsuario}}</a>
              </li>
          </div>
        </li>
          <li class="nav-item dropdown" *ngIf="isLogin">
              <a class="nav-link dropdown-toggle color" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false" *ngIf="!herramientas">Herramientas</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/libros">Libros</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/grupos">Grupos</a>
              </div>
            </li>
          <li class="nav-item dropdown" *ngIf="isLogin">
              <a class="nav-link dropdown-toggle color" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false" *ngIf="!herramientas">Comunidad</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/chat">Chat Global</a>
              </div>
            </li>
    </ul>
    <ul class="navbar-nav mx-auto">
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link"  routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" routerLink="/register">Registrarse</a>
      </li>

      <li class="nav-item ajuste" *ngIf="isLogin">
        <img src="{{userFirebase.url}}" class="rounded-circle" routerLink="/social">
        <!-- <img [src]="fotico" class="rounded-circle">-->
        <span class="badge pill badge-secondary">{{userFirebase.nombre}}  {{userFirebase.apellido}}</span>
      </li>
    </ul>


  </div>
</nav>
<section id="contraseña" style="display:none;">
  <div>
    <app-forgot-password ></app-forgot-password>
  </div>
</section>
