<!DOCTYPE html>
<html lang="en">

<head>
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
</head>

<body>
  <div class="col-md-12" style="text-align : center">
    <h1>Completar Perfil</h1>
    <form (ngSubmit)="newPerfil(newperfilForm.value)" [formGroup]="newperfilForm">
      <input type="hidden" formControlName="id">
      <div class="col-md-12">
        <div class="col-md-6">
          <h4>Nombre</h4>
          <input type="Nombre" class="form-control" id="Nombre" placeholder="Nombre" formControlName="nombre">
        </div>
        <div class="col-md-6">
          <h4>Apellido</h4>
          <input type="Apellido" class="form-control" id="Apellido" placeholder="Apellido" formControlName="apellido">
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6">
          <label for="sel1"><h4>Género</h4></label>
          <select class="form-control" id="sel1" formControlName="genero">
            <option>Masculino</option>
            <option>Femenino</option>
            </select>
        </div>
        <div class="col-md-6">
          <label for="sel1">
            <h4>Edad</h4>
          </label>
          <select class="form-control" id="sel1" formControlName="edad">
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
            <option>24</option>
            <option>25</option>
            <option>26</option>
            <option>27</option>
            <option>28</option>
            <option>29</option>
            <option>30</option>
          </select>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6">
          <h4>Celular</h4>
          <input type="Celular" class="form-control" id="Celular" placeholder="Celular" formControlName="celular">
        </div>
        <div class="col-md-6">
          <h4>Nacionalidad</h4>
          <input type="Nacionalidad" class="form-control" id="Nacionalidad" placeholder="Nacionalidad" formControlName="nacionalidad">
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-12">
          <h4>Subir imagen</h4>
          <input type="file" class="form-control" (change)="upload($event)" accept="image/*">
        </div>

      </div>
      <div class=" col-md-12 form-group">
        <div class="col-md-12">
          <label>Escribe tus Gustos</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="text"></textarea>
        </div>
      </div>
      <div style="text-align : center">
        <button type="submit" class="btn btn-primary btn-block btn-lg" [disabled]="!newperfilForm.valid" value="Agregar">Guardar</button>
        <button class="btn--green btn--s btn1" (click)="editarperfil(perfil.id)">Editar</button>
      </div>


    </form>
  <!-- Mostrar nombre persona-->
    <div class="media" *ngFor="let perfil of perfiles">
      <div class="media-body">
        <p>{{perfil.data.nombre}}</p>
      </div>
    </div>

  </div>
</body>

</html>