<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="col-md-12" style="text-align : center">
    <h1>Completar Perfil</h1>
    <form (ngSubmit)="newPerfil(newperfilForm.value)" [formGroup]="newperfilForm">
      <div class="col-md-12">
        <div class="col-md-6">
          <h4>Nombre</h4>
          <input type="Nombre" class="form-control" id="Nombre" placeholder="Nombre" formControlName="nombre">
        </div>
        <div class="col-md-6">
          <h4>Apellido</h4>
          <input type="Apellido" class="form-control" id="Apellido" placeholder="Apellido" formControlName="apellido">
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6">
          <label for="sel1">
            <h4>Género</h4>
          </label>
          <select class="form-control" id="sel1" formControlName="genero">
            <option>Masculino</option>
            <option>Femenino</option>
          </select>
        </div>
        <div class="col-md-6">
          <h4>Edad</h4>
          <input class="form-control" id="edad" placeholder="Coloque su edad" formControlName="edad">
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6">
          <h4>Celular</h4>
          <input type="Celular" class="form-control" id="Celular" placeholder="Celular" formControlName="celular">
        </div>
        <div class="col-md-6">
          <h4>Nacionalidad</h4>
          <input type="Nacionalidad" class="form-control" id="Nacionalidad" placeholder="Nacionalidad"
            formControlName="nacionalidad">
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-12">
          <h4>Subir imagen</h4>
          <input style="text-align : center" type="file" (change)="upload($event)" accept="images/*"
            formControlName="url">
        </div>
      </div>
      <div class=" col-md-12 form-group">
        <div class="col-md-12">
          <label><h4>Escribe tus Gustos</h4></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="text"></textarea>
        </div>
      </div>
      <h1>Referencia de Libros</h1>
      <div class=" col-md-12">
        <div class="col-md-6">
          <label><h4>Nombre Libro</h4></label>
          <input class="form-control" id="nombre_libro" formControlName="nombre_libro">
        </div>
        <div class="col-md-6">
          <label><h4>Autor</h4></label>
          <input class="form-control" id="autor_libro" formControlName="autor_libro">
        </div>
      </div>
      <div class=" col-md-12">
        <div class="col-md-6">
          <label><h4>Caracteristicas</h4></label>
          <textarea class="form-control" rows="3" id="text_libro" formControlName="text_libro"></textarea>
        </div>
        <div class="col-md-6">
          <label><h4>Subir</h4></label>
          <input style="text-align : center" type="file" (change)="upload($event)" accept="images/*"
            formControlName="url_libro">
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-12" style="text-align : center; margin-top: 1%">
          <button type="submit" class="btn btn-primary btn-block btn-lg" [disabled]="!newperfilForm.valid"
            value="Agregar" (click)="onClickValidar()">Guardar</button>
            <button (click)="informacionUsuario()">mostrar</button>
        </div>
      </div>



    </form>

   
    <div class="media" *ngFor="let perfil of perfiles">
      <div class="media-body">
        <p>{{perfil.nombre}}</p>
        <div>{{ uploadProgress | async }}</div>
        <a [href]="uploadURL | async">{{ uploadURL | async }}</a>
      </div>
      
    </div>

  </div>
</body>

</html>