<main>
<section id="sidebar">
    <h1 class="sidebar-title">Bloc Chat</h1>
     
    <div class="room-list">
        <p>Listado rooms</p> 
      <div *ngFor="let room of _csroom">
        <h3 class="sidebar-room" (click)="roomchange(room.id)">{{ room.data.nome }}</h3>
      </div>
    </div>
  </section>
  <section id="chat-room">
      <h1>Chat comunitario</h1>
      <div class="messages">
          <h3>Avatime<span style="color:red;">CHAT </span></h3>
          <hr>
          <p class="chat-note chat-beginning">Beginning of chat</p>
          <div class="message" id="app-mensajes">
               
      
              <div class="text-right">
              <span class="badge badge-primary">camilo</span>
              <p>ESTE es una mensaje </p>
            </div>
            
            <div>
                <span class="badge badge-success">Juan</span>
                <p>sorry.</p>
            </div>  
      
          </div>
          <p class="chat-note chat-end">End of chat</p>
          <div id="new-message" ng-show="home.activeRoom !== null">
            <input type="text" name="mensaje" [(ngModel)]="mensaje" 
            class="form-control"
            (keyup.enter)="enviar_mensaje()"
            placeholder="Enviar mensaje" autofocus>
          </div>
         
        
                         
      </div>
       
      
  </section>
</main>