<div class="container main-container">

<h1>Chat comunitario</h1>
<div class="chat-window">
    <h3>Avatime<span style="color:red;">CHAT</span></h3>
    <hr>
    <div class="app-mensajes" id="app-mensajes">

      <div class="text-right" *ngFor="let chat of _cs.chats"
        [ngClass]="{ 'text-right': _cs.useruid == chat.uid }">
        <span class="badge "
        [ngClass]="{ 'badge-primary': _cs.useruid == chat.uid,
                    'badge-success':  _cs.useruid != chat.uid}"
        >{{ chat.nombre }}</span>
        <p> {{ chat.mensaje }} </p>
      </div>

      <!-- <div class="text-right">
        <span class="badge badge-primary">camilo</span>
        <p>ESTE es una mensaje </p>
      </div>
      
      <div>
          <span class="badge badge-success">Juan</span>
          <p>sorry.</p>
      </div> -->

    </div>
    <input type="text" name="mensaje" [(ngModel)]="mensaje" 
                class="form-control"
                (keyup.enter)="enviar_mensaje()"
                placeholder="Enviar mensaje">
</div>
</div>

<emoji-input [(model)]="text"
               [inputClass]="'red'"
               [searchClass]="'blue'"
               [closeAfterSelection]="false"
               style="display: inline-block;"
               (click)="openPopup(false)"
               (setPopupAction)="setPopupAction($event)">
  </emoji-input>
  <button type="button" name="button"  style="display: inline-block;" (click)="openPopup()">
