<!------ Include the above in your HEAD tag ---------->


<hr>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-9 col-xs-12">
            <!--left col-->

            <ul class="nav nav-tabs list-group" role="tablist">
                <li class="nav-item">
                    <a class="nav-link " href="#crearLibro" role="tab" data-toggle="tab">Crear Grupo </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#tablaGrupos" role="tab" data-toggle="tab">Editar Grupos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#ChatGrupal" role="tab" data-toggle="tab">Chat Grupal de grupos</a>
                </li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-google-plus"></i>
                    <i class="fa fa-twitter"></i>
                </div>
            </div>

        </div>
        <!--/col-3-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <div class="table-responsive">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="tablaGrupos">
                                <p-table [value]="grupos" [paginator]="true" [rows]="10">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Nombre Grupo</th>
                                            <th>Personas del Grupo</th>
                                            <th style="width:8em">Eliminar</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-grupos>
                                        <tr>
                                            <td>{{grupos.nombre}}</td>
                                            <td><button class="btn btn-primary" md-button
                                                    (click)="vistaGrupo(grupos.nombre,grupos.data, grupos.id)">
                                                    <i class="pi pi-users"></i></button>
                                            <td>
                                                <button class="btn btn-primary tablalibros"
                                                    (click)="EliminarGrupoDisplay(grupos.nombre,grupos.id,grupos.data)">
                                                    <i class="pi pi-times"></i></button>
                                            </td>
                            
                                        </tr>
                                    </ng-template>
                                </p-table>

                            </div>
                            <div role="tabpanel" class="tab-pane fade " id="crearLibro">
                                <!-- Contenido de la página -->
                                <!-- Columna de la izquierda -->
                                <!-- Fin de Columna de la izquierda -->
                                <div class="col-md-12"
                                    style="border-width: 1px; border-style: solid; border-color: lightgrey; padding: 0px !important; overflow: auto;">
                                    <!-- Parte central -->
                                    <p-panel header="Crear Grupo">
                                        <form (ngSubmit)="onGuardarGrupocreado()" [noValidate]=false>
                                            <!-- Se inicia el form (ojo todos los elementos de formulario deben ir dentro de esta etiqueta-->
                                            <!-- Inicio del div central parte de formulario información básica -->
                                            <div>
                                                <br>
                                                <label>Nombre de Grupo:</label>
                                                <input type="text" class="form-control" id="nombre_grupo"
                                                    placeholder="Nombre del Grupo" [(ngModel)]="nombre" name="nombre"
                                                    [required]=true>
                                                <label>Buscar personas:</label>
                                                <span class="ui-fluid">
                                                    <p-autoComplete [(ngModel)]="personaseleccionada" [required]=true
                                                        name="personaseleccionada"
                                                        [suggestions]="filteredCountriesMultiple"
                                                        (completeMethod)=" BuscarPersonas($event)" styleClass="wid100"
                                                        [minLength]="1" placeholder="Personas" field="nombre"
                                                        [multiple]="true">
                                                    </p-autoComplete>
                                                </span>
                                                <div class="col-md-12 boton">
                                                    <button class="btn btn-primary" type="submit">Guardar</button>
                                                </div>

                                            </div>
                                        </form>


                                    </p-panel>

                                    <!-- Fin del div de parte central -->
                                    <!-- /.container -->
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade " id="ChatGrupal">
                                <!-- Contenido de la página -->
                                <div class="container">
                                    <br>
                                    <div class="row">
                                        <!-- Columna de la izquierda -->
                                        <!-- Fin de Columna de la izquierda -->

                                        <!-- Parte central -->
                                        <div class="col-md-12">
                                            <div class="col-md-12"
                                                style="border-width: 1px; border-style: solid; border-color: lightgrey;">
                                                <h3 style="text-align: center">
                                                    <p><small>Chat</small></p>
                                                </h3>
                                            </div>
                                            <app-room></app-room>



                                            <!-- Fin del div central parte de formulario información básica -->
                                            <!-- Fin Parte central - enlaces -->
                                            <!-- Fin del form -->
                                        </div>
                                        <!-- Fin del div de parte central -->
                                    </div>
                                </div>
                                <!-- /.container -->
                            </div>
                        </div>
                        <!--/table-resp-->

                    </div>


                    <!--/tab-pane-->

                </div>
                <!--/tab-pane-->
            </div>
            <!--/col-9-->
        </div>
        <!--/row-->


        <!-- // eliminar personas -->
        <p-dialog header="Personas en el grupo" [(visible)]="display" [modal]="true" [responsive]="true" [minY]="70"
            [maximizable]="true" [baseZIndex]="10000">
            <div class="input-group" id="seccionBuscar">
                <input style="width: 90%; height: 25%;" type="text" id="myInput" (keyup)="myFunctionNombre()"
                    placeholder="Buscar personas..." title="Type in a name">
                <div class="input-group-append">
                    <button style="height: 48px;" (click)="myFunctionNombre()" class="btn btn-outline-primary"
                        type="button" id="button-addon2">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <p-table id="myTable" [value]="guardarPersonasGrupo" [paginator]="true" [rows]="10">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nombre Persona</th>
                        <th>Eliminar Persona</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-guardarPersonasGrupo>
                    <tr>
                        <td>{{guardarPersonasGrupo.nombre}}</td>
                        <td><button class="btn btn-primary" md-button
                                (click)="EliminarPersona(guardarPersonasGrupo.id)">
                                <i class="pi pi-user-minus"></i></button>
                    </tr>
                </ng-template>
            </p-table>
        </p-dialog>

        <p-dialog header="Desea eliminar grupo" [(visible)]="displayEliminar" [modal]="true" [responsive]="true"
            [minY]="70" [maximizable]="true" [baseZIndex]="10000">
            <form>
                <button class="btn btn-primary" (click)="EliminarGrupo()" value="Si"><i
                        class="pi pi-user-minus"></i>Si</button>
                <button class="btn btn-primary" (click)="onCancelar()" value="No">No</button>
            </form>
        </p-dialog>
