<!------ Include the above in your HEAD tag ---------->


<hr>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->

            <ul class="nav nav-tabs list-group" role="tablist">
                <li class="nav-item">
                    <a class="nav-link " href="#crearLibro" role="tab" data-toggle="tab">Crear Grupo </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#tablaLibros" role="tab" data-toggle="tab">Ver Grupo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#buscarLibros" role="tab" data-toggle="tab">Chat Grupal de grupos</a>
                </li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">
                    <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i
                        class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i
                        class="fa fa-google-plus fa-2x"></i>
                </div>
            </div>

        </div>
        <!--/col-3-->
        <div class="col-sm-9">
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <div class="table-responsive">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="tablaLibros">
                                <p-table [value]="userLibro" [paginator]="true" [rows]="10">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Nombre Libro</th>
                                            <th>Autor</th>
                                            <th>Categoria</th>
                                            <th>Descripcion</th>
                                            <th>Funciones</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-userLibro>
                                        <tr>
                                            <td>{{userLibro.data.nombre_libro}}</td>
                                            <td>{{userLibro.data.autor_libro}}</td>
                                            <td>{{userLibro.data.categoria_libro}}</td>
                                            <td>{{userLibro.data.text_libro}}</td>
                                            <td><button class="btn btn-primary tablalibros"
                                                    (click)="onLibro(userLibro.data, userLibro.id)" 
                                                    ><a href="#mostrarInformacionEditarLibro">Editar</a></button>
                                                <button class="btn btn-primary tablalibros" md-button
                                                    (click)="EliminarLibro(userLibro.id)">Eliminar</button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                
                            </div>
                          
                        </div>
                    </div>
                    <!--/table-resp-->

                </div>
                <!--/tab-pane-->

            </div>
            <!--/tab-pane-->
        </div>
        <!--/col-9-->
    </div>
    <!--/row-->