.boton{
    display: inline-block;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }
  button{
    margin: 10px;
  }
  th{
    width: 100px;
    padding: 5px;
    margin: 5px;
  }