<!DOCTYPE html>
<html lang="en">



<head>

    <title>Perfil-AvanTimeBook</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="container bootstrap snippet">

        <br>

        <div class="row">
                <div class="col-sm-3" style="text-align: center;">
                    <h4><span class="capitalize">{{userFirebase.nombre}} {{userFirebase.apellido}}
                        </span></h4>
                </div>
        </div>
        <div class="row">
            <br>
            <div class="col-sm-3 columnas" style="height:100%;">
                <!--left col-->
                <div class="text-center">
                    <img [src]="userFirebase.url" class="avatar img-circle img-thumbnail fotoprueba" alt="avatar">
                </div><br>
                <div class="card w-100">
                    <div class="card-header">
                        <h5>Intereses</h5><i class="fa fa-link fa-1x"></i>
                    </div>
                    <div class="card-body">
                        <h6>{{userFirebase.text}}</h6>
                    </div>
                </div>


                <br>
                <div class="panel panel-default" style="text-align: center;">
                    <div class="panel-heading">Redes sociales</div>
                    <div class="panel-body">
                        <a class="fa fa-facebook fa-2x" href="https://www.facebook.com" target="_blank"></a>
                        <a class="fa fa-github fa-2x" href="https://github.com/" target="_blank"></a>
                        <a class="fa fa-twitter fa-2x" href="https://twitter.com/" target="_blank"></a>
                        <a class="fa fa-pinterest fa-2x" href="https://www.pinterest.es/" target="_blank"></a>
                        <a class="fa fa-google-plus fa-2x" href="https://gmail.com/" target="_blank"></a>
                    </div>
                </div>

            </div>
            <!--/col-3-->
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12 gedf-main">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <button class="list-group-item publicaciones boton5"
                                    (click)="MostrarInformacion()">Publicaciones</button>
                            </li>
                            <li class="nav-item dropdown">
                                <button class="list-group-item Verinformacion boton5" (click)="MostrarInformacion()">
                                    Información {{userFirebase.nombre}}</button>
                            </li>
                            <li class="nav-item">
                                <button class="list-group-item libros boton5"
                                    (click)="MostrarInformacion()">Libros</button>
                            </li>
                            <li class="nav-item">
                                <button class="list-group-item seguidores boton5" (click)="MostrarInformacion()">
                                    Seguidores</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <section id="publicaciones">
                    <div class="col-md-12 gedf-main">
                        <!--- \\\\\\\Post-->
                        <form (ngSubmit)="newComentario(newcomentarioForm.value)" [formGroup]="newcomentarioForm">
                            <div class="card gedf-card">
                                <div class="card-header">
                                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts"
                                                role="tab" aria-controls="posts" aria-selected="true">Escribe
                                                una publicación <span class="capitalize">{{userFirebase.nombre}}
                                                    {{userFirebase.apellido}}</span> </a>
                                        </li>
                                        <!--  <li class="nav-item">
                                                            <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false" href="#images">Images</a>
                                                        </li> -->
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="posts" role="tabpanel"
                                            aria-labelledby="posts-tab">
                                            <div class="form-group">
                                                <label class="sr-only" for="message">post</label>
                                                <textarea class="form-control" id="message" rows="3"
                                                    placeholder="Quieres decir...." formControlName="text"></textarea>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="images" role="tabpanel"
                                            aria-labelledby="images-tab">
                                            <div class="form-group">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="customFile">
                                                    <label class="custom-file-label" for="customFile">Upload
                                                        image</label>
                                                </div>
                                            </div>
                                            <div class="py-4"></div>
                                        </div>
                                    </div>
                                    <div class="btn-toolbar justify-content-between">
                                        <div class="btn-group">
                                            <button type="submit" class="btn btn-primary ">Compartir</button>
                                        </div>
                                        <div class="btn-group">
                                            <button id="btnGroupDrop1" type="button"
                                                class="btn btn-link dropdown-toggle" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-globe"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right"
                                                aria-labelledby="btnGroupDrop1">
                                                <a class="dropdown-item" routerLink="/social"><i
                                                        class="fa fa-globe"></i>
                                                    Public</a>
                                                <a class="dropdown-item" routerLink="/social"><i
                                                        class="fa fa-users"></i>
                                                    Friends</a>
                                                <a class="dropdown-item" routerLinks="/social"><i
                                                        class="fa fa-user"></i>
                                                    Just me</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>

                        <!-- Post /////-->

                        <!--- \\\\\\\Post-->
                        <div class="card gedf-card" *ngFor="let comentario of userComentario">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mr-2">
                                            <img class="rounded-circle" width="45" src="https://picsum.photos/50/50"
                                                alt="">
                                        </div>
                                        <div class="ml-2">
                                            <div class="h5 m-0">@{{userFirebase.nombre}}</div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown">
                                            <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                                <div class="h6 dropdown-header">Configuration</div>
                                                <a class="dropdown-item" href="#">Save</a>
                                                <a class="dropdown-item" href="#">Hide</a>
                                                <a class="dropdown-item" href="#">Report</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="card-body">
                                <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{comentario.data.date}}
                                </div>
                                <!--<a class="card-link" href="#">
                                        <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adip.</h5>
                                    </a>-->

                                <p class="card-text">
                                    {{comentario.data.text}}
                                </p>
                            </div>
                            <!--
                                   <div class="card-footer">
                                    <a href="#" class="card-link" routerLink="/social"><i class="fa fa-gittip"></i> Like</a>
                                    <a href="#" class="card-link" routerLink="/social"><i class="fa fa-comment"></i> Comment</a>
                                    <a href="#" class="card-link" routerLink="/social"><i class="fa fa-mail-forward"></i> Share</a>
                                </div>
                               -->
                        </div>
                    </div>
                </section>

                <section id="Verinformacion" style="display:none;">
                    <div class="card w-100">
                        <div class="card-header">
                            <h3>
                                <div class="capitalize">Información de {{userFirebase.nombre}}
                                    {{userFirebase.apellido}}
                                </div>
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="col-xs-6">
                                <h5>
                                    <div class="capitalize"><b>Nombre: </b>{{userFirebase.nombre}}</div>
                                </h5>
                            </div>
                            <div class="col-xs-6">
                                <h5>
                                    <div class="capitalize"><b>Apellido: </b>{{userFirebase.apellido}}</div>
                                </h5>
                            </div>
                            <div class="col-xs-6">
                                <h5>
                                    <div class="capitalize"><b>Genero:</b>{{userFirebase.genero}}</div>
                                </h5>
                            </div>
                            <div class="col-xs-6">
                                <h5>
                                    <div class="capitalize"><b>Celular:</b>{{userFirebase.celular}}</div>
                                </h5>
                            </div>
                            <div class="col-xs-6">
                                <h5>
                                    <div class="capitalize"><b>Edad:</b>{{userFirebase.edad}}</div>
                                </h5>
                            </div>
                            <div class="col-xs-6">
                                <h5>
                                    <div class="capitalize"><b>Nacionalidad:</b>{{userFirebase.nacionalidad}}</div>
                                </h5>
                            </div>
                            <div class="col-xs-6">
                                <h5>
                                    <div class="capitalize"><b>Seguidores:</b>{{userFirebase.edad}}</div>
                                </h5>
                            </div>
                            <div class="col-xs-6">
                                <h5>
                                    <div class="capitalize"><b>Total de libros:</b>{{userLibro.length}}</div>
                                </h5>
                            </div>

                            <div class="col-xs-6">
                                <h5>
                                    <div class="capitalize"><b>Descripcion:</b>{{userFirebase.text}}</div>
                                </h5>
                            </div>

                            <div class="col-xs-6">
                                <button class="btn btn-primary" (click)="onUsuario(userFirebase)">Editar Informacion</button>
                            </div>

                        </div>

                    </div>
                    <section id="Editarinformacion" style="display:none;">
                        <div class="card">
                            <div class="card-header">
                                <h3>Informacion Usuario</h3>
                            </div>
                            <div class="card-body" *ngIf="InformacionUsuarioProvicional">
                                <div *ngIf="InformacionUsuarioProvicional">
                                    <div class="panel panel-primary">
                                        <h5><b>Nombre:</b></h5>
                                        <input id="nombre" class="form-control" [(ngModel)]="InformacionUsuarioProvicional.nombre"
                                            value="{{InformacionUsuarioProvicional.nombre}}">
                                    </div>
                                    <div class="col-xs-6">
                                        <h5><b>Apellido:</b></h5>
                                        <input id="apellido" class="form-control" [(ngModel)]="InformacionUsuarioProvicional.apellido"
                                            value="{{InformacionUsuarioProvicional.apellido}}">
                                    </div>

                                    <div class="col-xs-6">
                                        <h5><b>Celular:</b></h5>
                                        <input id="celular" class="form-control" [(ngModel)]="InformacionUsuarioProvicional.celular"
                                            value="{{InformacionUsuarioProvicional.celular}}">
                                    </div>

                                    <div class="col-xs-6">
                                        <h5><b>Nacionalidad:</b></h5>
                                        <input id="nacionalidad" class="form-control"
                                            [(ngModel)]="InformacionUsuarioProvicional.nacionalidad"
                                            value="{{InformacionUsuarioProvicional.nacionalidad}}">
                                    </div>


                                    <div class="col-xs-6">
                                        <h5><b>Edad</b></h5>
                                        <input id="edad" class="form-control" type="number" min="10" max="99"
                                            [(ngModel)]="InformacionUsuarioProvicional.edad"
                                            value={{InformacionUsuarioProvicional.edad}}>
                                    </div>

                                    <div class="col-xs-6">
                                        <h5><b>Escribe tus gustos:</b></h5>
                                        <textarea id="text" class="form-control" [(ngModel)]="InformacionUsuarioProvicional.text"
                                            value="{{InformacionUsuarioProvicional.text}}" rows="3"></textarea>
                                    </div>
                                    <div class="col-xs-12">
                                        <button type="submit" style="margin: 10px;" class="form-control" (click)="onGuardarUsuario()"
                                            class="btn btn-primary">Guardar Informacion</button>
                                        <div></div>
                                        <button type="submit" style="margin: 10px;" class="form-control" (click)="onCancelar()"
                                            class="btn btn-primary">Cancelar</button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
                <section id="libros" style="display:none;">
                    <div class="card">
                        <div class="card-header">
                            <h3>Libros</h3>
                        </div>

                        <div class="card-body">
                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">Numero</th>
                                        <th scope="col">Nombre libro</th>
                                        <th scope="col">Autor</th>
                                        <th scope="col">Categoria</th>
                                        <th scope="col">Descripción</th>
                                </thead>
                                <tbody *ngFor="let libro of userLibro; let i=index">
                                    <tr>
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{libro.data.nombre_libro}}</td>
                                        <td>{{libro.data.autor_libro}}</td>
                                        <td>{{libro.data.categoria_libro}}</td>
                                        <td>{{libro.data.text_libro}}</td>
                                        <td><button md-button (click)="onLibro(libro.data, libro.id)">Editar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <section id="mostrarInformacionEditarLibro">
                        <div class="card">
                            <div class="card-header">
                                <h3>Informacion Libro</h3>
                            </div>
                            <div class="card-body">
                                <div *ngIf="InformacionLibrosProvicional">
                                    <div>
                                        <div class="capitalize"><b>Nombre libro: </b></div>
                                        <input class="form-control"
                                            [(ngModel)]="InformacionLibrosProvicional.nombre_libro"
                                            value="{{InformacionLibrosProvicional.nombre_libro}}">
                                    </div>
                                    <div>
                                        <div class="capitalize"><b>Autor libro: </b></div>
                                        <input class="form-control"
                                            [(ngModel)]="InformacionLibrosProvicional.autor_libro"
                                            value="{{InformacionLibrosProvicional.autor_libro}}">
                                    </div>
                                    <div>
                                        <label for="sel1">
                                            <h5><b>Categoria:</b></h5>
                                        </label>
                                        <select class="form-control" id="sel1"
                                            [(ngModel)]="InformacionLibrosProvicional.categoria_libro"
                                            value="{{InformacionLibrosProvicional.categoria_libro}}">
                                            <option>Policial</option>
                                            <option>Romántica</option>
                                            <option>Aventura</option>
                                            <option>Terror</option>
                                            <option>Ficcion/Realiad</option>
                                            <option>Ciencia Ficción</option>
                                            <option>Investigación</option>
                                            <option>Biográfica</option>
                                            <option>Infantil</option>
                                            <option>Autoayuda</option>
                                            <option>Erótica</option>
                                            <option>Hogar</option>
                                            <option>Enciclopedia/Manual</option>
                                            <option>Política</option>
                                            <option>Economía/Marketing</option>
                                            <option>Sociedad</option>
                                            <option>Deportes</option>
                                            <option>Viajes/Cultura</option>
                                            <option>Otros temas/Varios</option>
                                        </select>
                                    </div>
                                    <div>
                                        <div class="capitalize"><b>Descripción libro: </b></div>
                                        <input class="form-control"
                                            [(ngModel)]="InformacionLibrosProvicional.text_libro"
                                            value="{{InformacionLibrosProvicional.autor_libro}}">
                                    </div>

                                    <button mat-raised-button (click)="onGuardar()">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
                <section id="seguidores">

                </section>
                <section id="editarLibros" style="display:none;">

                </section>

            </div>



            <div class="col-sm-3">
                <ul class="list-group">
                    <button class="list-group-item editarLibros boton5" (click)="MostrarInformacion()">Editar
                        Libros</button>
                    <button class="list-group-item Eventos boton5" (click)="MostrarInformacion()">Eventos
                        Información</button>
                    <button class="list-group-item Grupos boton5" (click)="MostrarInformacion()">Grupos</button>

                </ul>
            </div>
        </div>
        <!--/col-9-->
    </div>
    <!--/row-->


</body>

</html>