.fotoprueba{
    width: 50%;
    height: 50%;
}
.card{
    margin-bottom: 2%;  
}
button{
    background-color: ghostwhite;
}
.columnas{
    border: 1px solid #eeeeee;
    border-radius: 0.25rem;
    max-height:500px;
}
.capitalize { 
    text-transform: capitalize; 
}