<!DOCTYPE html>
<html lang="en">



<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>

    <title>Perfil-AvanTimeBook</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!---<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>

    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10">
                <h1>{{userFirebase.nombre}}</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--left col-->


                <div class="text-center">
                    <img [src]="'https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg'" class="avatar img-circle img-thumbnail fotoprueba" alt="avatar">
                    <h6>Cambie foto...</h6>
                    <input type="file" (change)='subirFoto($event)' class="text-center center-block file-upload"
                        value="Cambiar foto">
                </div><br>


                <div class="panel panel-default">
                    <div class="panel-heading">intereses<i class="fa fa-link fa-1x"></i></div>
                    <div class="panel-body">
                        {{userFirebase.text}}
                    </div>
                </div>


                <ul class="list-group">
                    <li class="list-group-item text-muted">Actividad <i class="fa fa-dashboard fa-1x"></i></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>compartido</strong></span>
                        125</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>publicaciones</strong></span>
                        37</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>seguidores</strong></span> 78
                    </li>
                </ul>

                <div class="panel panel-default">
                    <div class="panel-heading">Redes sociales</div>
                    <div class="panel-body">
                        <a class="fa fa-facebook fa-2x" href="https://www.facebook.com" target="_blank"></a>
                        <a class="fa fa-github fa-2x" href="https://github.com/" target="_blank"></a>
                        <a class="fa fa-twitter fa-2x" href="https://twitter.com/" target="_blank"></a>
                        <a class="fa fa-pinterest fa-2x" href="https://www.pinterest.es/" target="_blank"></a>
                        <a class="fa fa-google-plus fa-2x" href="https://gmail.com/" target="_blank"></a>
                    </div>
                </div>

            </div>
            <!--/col-3-->
        </div>
        <!--/col-9-->
    </div>
    <!--/row-->

</body>

</html>