@import "~@ctrl/ngx-emoji-mart/picker";
/* Structure */
.space {
    flex: 1 1 auto
  }
  
  table {
    width: 90%;
  }
  
  table th {
    font-weight: bolder;
    color: black
  }
  
  .mat-form-field {
    font-size: inherit;
    width: 90%;
    text-align: center;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
  
  }
  