<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
</head>

<body>

  <!-- Contenido de la página -->
  <div class="container">
    <br>
    <div class="row">
      <!-- Columna de la izquierda -->
      <!-- Fin de Columna de la izquierda -->

      <!-- Parte central -->
      <div class="col-md-12"
              style="border-width: 1px; border-style: solid; border-color: lightgrey;">
        <!-- Se inicia el form (ojo todos los elementos de formulario deben ir dentro de esta etiqueta-->
        <form (ngSubmit)="newlibro(newlibroForm.value)" [formGroup]="newlibroForm">
          <p-panel header="Crear Libro">
            <!-- Inicio del div central parte de formulario información básica -->
            <input type="hidden" formControlName="id">
              <br>
              <input type="text" class="form-control" id="nombre_libro" placeholder="Nombre del libro"
                formControlName="nombre_libro">

              <br>
              <input type="text" class="form-control" id="autor_libro" placeholder="Autor"
                formControlName="autor_libro">

              <div>
                <label for="sel1">
                </label>
                <select class="form-control" id="sel1">
                  <option value="">Categoria</option>
                  <option>Policial</option>
                  <option>Romántica</option>
                  <option>Aventura</option>
                  <option>Terror</option>
                  <option>Ficcion/Realiad</option>
                  <option>Ciencia Ficción</option>
                  <option>Investigación</option>
                  <option>Biográfica</option>
                  <option>Infantil</option>
                  <option>Autoayuda</option>
                  <option>Erótica</option>
                  <option>Hogar</option>
                  <option>Enciclopedia/Manual</option>
                  <option>Política</option>
                  <option>Economía/Marketing</option>
                  <option>Sociedad</option>
                  <option>Deportes</option>
                  <option>Viajes/Cultura</option>
                  <option>Otros temas/Varios</option>

                </select>
              </div>

              <br>
              <h5><b>Descripción del libro:</b></h5>
              <textarea class="form-control" id="text_libro" formControlName="text_libro">
                     </textarea>

              <div class="col-md-12">
                <div class="col-md-12" style="text-align : center; margin-top: 1%">
                  <button type="submit" class="btn btn-primary btn-block btn-lg" [disabled]="!newlibroForm.valid"
                    value="Agregar">Guardar</button>
                </div>
              </div>

              <div class="col-md-12">
                <div class="col-md-12" style="text-align : center; margin-top: 1%">
                  <button type="submit" class="btn btn-primary btn-block btn-lg"
                    (click)="Siguiente()">Siguiente</button>
                </div>
              </div>
            <!-- Fin del div central parte de formulario información básica -->
            <!-- Fin Parte central - enlaces -->

          </p-panel>

        </form>
        <!-- Fin del form -->
      </div>
      <!-- Fin del div de parte central -->
    </div>
  </div>
  <!-- /.container -->

</body>

</html>